*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    
    background-color: rgb(194, 170, 185);
}

#nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#nav-part1 a{
    font-size: 16px;
    border: 1.5px solid #000;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
    text-decoration: none;
}

#nav-part1 i{
    font-size: 16px;
    border: 1.5px solid #000;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}
#nav h1{
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;

}

#nav button{
    font-size: 16px;
    border: 1.5px solid #000;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
    
}

#login1{
    
    border: none;
    background-color: rgb(194, 170, 185);
}
#btn2{
    color: white;
    border: none;
    background-color: rgb(226, 70, 31);
}
#main > h1{
    
    font-size: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}

img{
    height: 430px;
    width: 350px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;

}

#img1{
    transform: translate(-50%,-50%) rotate(-30deg);
}
#img2{
    transform: translate(-50%,-50%) rotate(-20deg);
}
#img3{
    transform: translate(-50%,-50%) rotate(-10deg);
}

#btm-left{
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 16px;

}
#icons{
    position: absolute;
    bottom: 8%;
    right: 3%;
    font-size: 25px;
}
#label1{
    position: absolute;
    bottom: 5%;
    right: 3%;
    font-size: 16px;
}
